.homeScreenText {
    z-index: 1;
    position: absolute;
    top: 10rem;
    left: 8rem;
    color: white;
}

.homeScreenText h1 {
    margin: 5px;
    font-size: 7rem;
}

.homeScreenText h2 {
    margin: 5px;
    font-weight: 100;
}

.homeScreenContent {
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.homeScreenContent img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.newsletterRegistrationForm {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    bottom: 11rem;
    left: 8rem;
    ;
}

.newsletterRegistrationForm * {
    margin: 3px;
}

.newsletterRegistrationForm input {
    width: 100%;
    height: 2.5rem;
    background: #d1e8f187;
    border-radius: 8px;
    border: none;
}

.newsletterRegistrationForm button {
    color: white;
    font-size: 2vh;
    width: 30%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    background-color: #0E9ED8;
    font-weight: bold;
}


.geo {
    position: absolute;
    background-color:#0d1524d7;
    color: white;
    padding: 0;
    margin: 0;
    top: 6rem;
    border-radius: 10px;
    right: 3rem;
    width: 18rem;
    height: 30rem;
    text-align: center;
}

.teamContainer {
    position: absolute;
    background-color: #0d1524d7;
    height: 27rem;
    padding-top: 20px;
    bottom: 0;
    border-radius: 10px;
}

.teamContainer img {
    width: 70%;


}

.geo:hover {
    transform: scale(1.08); /* Increase the scale on hover */
    transition-duration: 0.1s;
    background: linear-gradient(rgba(2, 22, 55, 0.7), rgb(0, 9, 16, 0.5)), url("/public/assets/bggif.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-style: solid 15px white ;
}
.teamContainer:hover {

    transition-duration: 0.1s;
   background:none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.geo button {
    color: white;
    padding: 5px 5px;
    height: 2rem;
    border-radius: 8px;
    border: none;
    background-color: #0E9ED8;
    font-weight: bold;
}

.geo button:hover {
    background-color: #0E9ED8;
    color: white;
}
