.formContainer {
    width: 30vw;
    height: 50vh;
    margin: 10vh 40vw;
    color: white;
    justify-content: center;
}

.formContainer p {
    font-size:70px;
}

.formContainer form{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.formContainer h4{
    font-size: 50px;
    margin: 0px;
    text-align: center;
}
.formContainer form * {
    width: 100%;
    margin: 5px 0px;
}

.formContainer form input {
    margin-bottom: 20px;
}

.register {
    color: #ffffff;

    
}

.formContainer a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;

}

.formContainer a:hover {
    text-decoration: none;
    color: #10042e;
    text-align: center;

}

.registerLink{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.registerLink:hover {
    color: #003145;


}