.matches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Add this property */
  align-items: center; /* Add this property */
  margin: 5rem auto;
  gap: 1em;
}

.matchcard {
  background-color: #3b4a64;
  text-align: center;
  background-image: url("/public/assets/vballicon.png");
  border-radius: 15px;
  padding: 20px;
  word-wrap: break-word;
  margin: 20px;
  height: auto;
  max-width: 60%;
  box-sizing: border-box;
}


  
  
  .matchcard:hover {
    transform: scale(1.08); 
    transition-duration: 0.1s;

    background: linear-gradient(rgba(2, 22, 55, 0.2), rgb(0, 9, 16)), url("/public/assets/bggif.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  .matchTitle {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:white;
    margin-bottom: 10px;
  }
  .versus {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 12px;
    color:white;
    margin-bottom: 10px;
  }
  
  .team-players {
    font-size: 16px;
    margin-bottom: 10px; 
    color:#9F9EA8;
  }
  
  .address {
    font-size: 16px;
    margin-bottom: 10px;
    color:#9F9EA8;
  }
  
  .winner {
    background-color: #0E9ED8;
    color: white;
    padding: 6px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    width:auto;
    margin-bottom: 10px;
  }
