.NewsletterContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6rem;
    padding: 2rem 3% 10rem 3%;
    border-radius: 25px;
    text-align: justify;
    color: white;
    background-color: #0d1524a8;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.PostList {
    width: 30%;
    border-radius: 25px;
    background-color: #0d1524d7;
}

.titleContainer {
    cursor: pointer;
    margin: 0;
    height: 6rem;
    padding: 2rem;
    border-bottom: #0e9fd827 solid;
    align-items: center;
}

.titleContainer h2 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.PostContent {
    width: 65%;
    align-items: center;
    text-align: center;
    
}

.PostContent p {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 2rem;
}