.NewsletterContent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6rem;
    padding: 2rem 3% 10rem 3%;
    border-radius: 25px;
    text-align: justify;
    color: white;
    background-color: #0d1524a8;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    transition: all 0.3s ease-in-out; /* added transition property for smooth animations */
  }
  
  .PostList {
    width: 30%;
    border-radius: 25px;
    background-color: #0d1524d7;
    transition: all 0.3s ease-in-out; /* added transition property for smooth animations */
  }
  
  .titleContainer {
    
    cursor: pointer;
    margin: 0;
    height: 6rem;
    padding: 2rem;
    border-bottom: #1f7ca127 solid;
    align-items: center;
    transition: all 0.3s ease-in-out; /* added transition property for smooth animations */
  }
  .titleContainer:hover {
    background-color: hsla(197, 100%, 51%, 1);
    border-radius: 25px;
  }
  

  .titleContainer h2 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }
  
  .PostContent {
    width: 65%;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out; /* added transition property for smooth animations */
  }
  
  .PostContent p {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  
  .newsletterImage {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    transition: all 0.3s ease-in-out; /* added transition property for smooth animations */
  }