.team-container {
  display: grid;
  width: min(90%, 75rem);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* adjust column width */
  grid-template-rows: repeat(auto-fit, 300px); /* set fixed height for each row */
  grid-gap: 10px;
  padding: 20px;
  margin: 5rem auto;
  height: 1200px; /* set fixed height of the container */
  overflow: auto;
}

.teamcard {
  text-align: center;
  background-color: #303540;
  border-radius: 15px;
  padding: 20px;
  word-wrap: break-word;
  margin: 20px;
  height: 100%; /* set height to 100% to fill the fixed height of each row */
  max-width: 100%;
  width:250px;
  box-sizing: border-box;
}

  
  
  .team-name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:white;
    margin-bottom: 10px;
  }
  
  .matchDate {
    font-size: 16px;
    margin-bottom: 10px; 
    color:#9F9EA8;
  }
  
  .address {
    font-size: 16px;
    margin-bottom: 10px;
    color:#9F9EA8;
  }
  
  .viewBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    width:auto;
    margin-bottom: 10px;
  }
  
  .app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-container {
  margin-bottom: 1rem;
}

.teams-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-container {
  margin: 0 auto;
  width: 500px;
}

.app-wrapper h2 {
    color:white;
    font-size: 24px;
    text-align: center;
}

.searchbar {
  width: 100%;
  height:40px;
}
