@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway/static/Raleway-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: linear-gradient(0deg, rgba(4, 8, 13, 0.2), rgba(4, 8, 13, 0.2)), linear-gradient(180deg, rgba(89, 2, 9, 0.3) 0%, rgba(4, 8, 13, 0.3) 100%); */
    background-image: linear-gradient(to bottom right, rgba(4, 8, 13, 1), rgb(16, 1, 1));
}

.navigationBar {
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: #0d1524d7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 2rem;
}

.navigationBar ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navigationBar ul a {
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.navigationBar ul .active {
    color: #0E9ED8;
}

.navigationBar ul a:hover {
    background-color: #86bfd5;
    color: #0d1524d7;
}

.Container {
    z-index: -1;
    position: relative;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #0d1524d7;
    align-items: center;
    color: white;
}

footer small {
    width: 100%;
    margin: 0;
    text-align: center;
}



/*****************************/
/******** Home Screen ********/
/*****************************/

.homeScreenText {
    z-index: 1;
    position: absolute;
    top: 10rem;
    left: 8rem;
    color: white;
}

.homeScreenText h1 {
    margin: 5px;
    font-size: 7rem;
}

.homeScreenText h2 {
    margin: 5px;
    font-weight: 100;
}

.homeScreenContent {
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.homeScreenContent img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.newsletterRegistrationForm {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    bottom: 11rem;
    left: 8rem;
    ;
}

.newsletterRegistrationForm * {
    margin: 3px;
}

.newsletterRegistrationForm input {
    width: 100%;
    height: 2.5rem;
    background: #d1e8f187;
    border-radius: 8px;
    border: none;
}

.newsletterRegistrationForm button {
    color: white;
    font-size: 2vh;
    width: 30%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    background-color: #0E9ED8;
    font-weight: bold;
}


/*****************************/
/******** Newsletter *********/
/*****************************/



/*****************************/
/********** Results **********/
/*****************************/



/*****************************/
/*********** Teams ***********/
/*****************************/



/*****************************/
/*********** Login ***********/
/*****************************/
.formContainer {
    width: 30vw;
    height: 50vh;
    margin: 10vh 40vw;
    color: white;
    justify-content: center;
}

.formContainer p {
    font-size:70px;
}

.formContainer form{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.formContainer form * {
    width: 100%;
    margin: 5px 0px;
}

.formContainer form input {
    margin-bottom: 20px;
}


/*****************************/
/********** Sign up **********/
/*****************************/
/* .register {
    color: white;
    margin: 100px;
}

.register form{
    width: 300px;
    display: flex;
    flex-direction: column;
} */
